@model TestShipping.Models.Shipping

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Shipping</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Month)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Departure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departure)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Purpose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Purpose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Carrier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Carrier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScheduledTraffic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScheduledTraffic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActualTraffic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActualTraffic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day1Tons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day1Tons)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day2Tons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day2Tons)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day3Tons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day3Tons)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day4Tons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day4Tons)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day5Tons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day5Tons)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day6Tons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day6Tons)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day7Tons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day7Tons)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day8Tons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day8Tons)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day9Tons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day9Tons)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day10Tons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day10Tons)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day11Tons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day11Tons)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day12Tons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day12Tons)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day13Tons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day13Tons)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day14Tons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day14Tons)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day15Tons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day15Tons)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day16Tons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day16Tons)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day17Tons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day17Tons)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day18Tons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day18Tons)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day19Tons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day19Tons)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day20Tons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day20Tons)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day21Tons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day21Tons)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day22Tons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day22Tons)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day23Tons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day23Tons)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day24Tons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day24Tons)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day25Tons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day25Tons)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day26Tons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day26Tons)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day27Tons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day27Tons)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day28Tons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day28Tons)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day29Tons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day29Tons)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day30Tons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day30Tons)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day31Tons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day31Tons)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
