@model LibraryUI.Models.BookCardViewModel

@{
    ViewBag.Title = "BookCard Details";
}

<h2>BookCard Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.isAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isAvailable)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>


        <dt>
            Authors
        </dt>

        <dd>
            TOD: Dropdown List
        </dd>


        <dt>
            Records
        </dt>

        <dd>
            @Html.DropDownList(
                       "bookRecords",
                       Model.Records as SelectList,
                       null,
                       htmlAttributes: new { @class = "form-control" })
        </dd>


        <dt>
            Id
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
