@model List<LibraryUI.Models.BookCardRecordsViewModel>

@{
    ViewBag.Title = "BookCard Details";
}

<h2>BookCard Records</h2>

<div>
    <hr />

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = @ViewBag.BookCardId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

    <dl class="dl-horizontal">
        <dt>
            Is Available
        </dt>

        <dd>
            <input type="checkbox" checked="@ViewBag.IsAvailable" />
        </dd>


        <dt>
            Title
        </dt>

        <dd>
            <span>"</span>@ViewBag.BookCardTitle<span>"</span>
        </dd>


        <dt>
            Authors
        </dt>

        <dd>
            @ViewBag.AuthorNames
        </dd>


        <dt>
            Id
        </dt>

        <dd>
            @ViewBag.BookCardId
        </dd>
    </dl>

    <table class="table table-bordered table-striped table-hover table-condensed text-center">
        <tr class="active">
            <td>Reader</td>
            <td>Getout Time</td>
            <td>Return Time</td>
        </tr>
        @foreach (var r in Model)
        {
            <tr>
                <td><p>@r.UserEmail</p></td>
                <td><p>@r.GetoutTime</p></td>
                <td><p>@r.ReturnTime</p></td>
            </tr>
        }
    </table>
</div>
