
@model LibraryUI.Models.BookCardViewModelPaged
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Books";
    int counter = 0;
}

<h2>Books</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "filterForm" }))
{
    <div class="row">
        <div class="col-md-3">
            @Html.RadioButtonFor(m => m.FilterType, "all") Filter All books<br />
            @Html.RadioButtonFor(m => m.FilterType, "available") Filter Available books<br />
            @Html.RadioButtonFor(m => m.FilterType, "taken") Filter books Taken by the user<br />
        </div>
        <div class="col-md-3">
            @Html.RadioButtonFor(m => m.SortType, "byTytle") Sort by Title<br />
            @Html.RadioButtonFor(m => m.SortType, "byAuthor") Sort by First Author<br />
        </div>
    </div>
}

<table class="table">
    <tr>
        <th>
            №
        </th>
        <th>
            Title
        </th>
        <th>
            Authors
        </th>
        <th>
            isAvailable
        </th>
    </tr>

    @foreach (var item in Model.BookCards)
    {
        <tr>
            <td>
                @{counter++;}
                @counter
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DropDownList(
               "bookAuthors",
               item.BookAuthors as SelectList,
               htmlAttributes: new { @class = "form-control" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isAvailable)
            </td>
        </tr>
                    }

</table>

Page @(Model.BookCards.PageCount < Model.BookCards.PageNumber ? 0 : Model.BookCards.PageNumber) from @Model.BookCards.PageCount

@Html.PagedListPager(Model.BookCards, page => Url.Action("Index", new { page }))
