@model LibraryUI.Models.AuthorViewModel

@{
    ViewBag.Title = "Author Books";
}

<h2>Author Books</h2>

<div>
    <hr />
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>


        <dt>
            Books
        </dt>

        <dd>
            @foreach (var book in Model.AuthorBooks)
            {
                <span>"</span>@book.Text.Trim()<span>"</span><br/>
            }
        </dd>
    </dl>
</div>
