@model PipeStore.ViewModels.PipeListViewModel

@{
    ViewBag.Title = "Pipe & Tube Store";
}

<h2>Pipes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @using (Html.BeginForm("Index", "Pipes", FormMethod.Get))
    {
    <p>
        @using (Html.BeginForm())
        {
            <div class="form-inline">

                <div class="form-group">
                    <label>Size:</label>
                    @Html.TextBox("SearchString")
                </div>&nbsp;&nbsp;&nbsp;

                <div class="form-group">
                    <label>Standard:</label>
                    @Html.DropDownList("standardId", Model.PipeStandards as SelectList, htmlAttributes: new { @class = "form-control" })
                </div>&nbsp;&nbsp;&nbsp;

                <div class="form-group">
                    <label>Material:</label>
                    @Html.DropDownList("materialId", Model.Materials as SelectList, htmlAttributes: new { @class = "form-control" })
                </div>&nbsp;&nbsp;&nbsp;

                <div class="form-group">
                    <label></label>
                    <input type="submit" class="btn btn-success" value="Filter" />
                </div>

            </div><br />
        }
    </p>
    }
    </p>

    <table class="table table-bordered table-condensed table-hover table-striped">
        <tr class="success">
            <th>
                @Html.DisplayNameFor(model => model.Pipes.FirstOrDefault().Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pipes.FirstOrDefault().PipeStandard.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pipes.FirstOrDefault().Material.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pipes.FirstOrDefault().Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pipes.FirstOrDefault().ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pipes.FirstOrDefault().Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pipes.FirstOrDefault().InStock)
            </th>
            <th>
                BUY
            </th>
            <th>
                Arrange
            </th>
        </tr>

        @foreach (var item in Model.Pipes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PipeStandard.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Material.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manufacturer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InStock)
                </td>
                <td>
                    @*<a href='@Url.Action( "Create", "Purchases", new { id = item.Id })'>*@
                    <img alt="Cover" src="@item.ImageUrl" width="30" height="30" />
                    @*</a>*@
                </td>
                <td class="text-center">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
