@model PipeStore.ViewModels.PipeListViewModel

@{
    ViewBag.Title = "Pipe & Tube Store";
}

<h2>Pipes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @using (Html.BeginForm("Index", "Pipes", FormMethod.Get))
    {
    <p>
        @using (Html.BeginForm())
        {
            @Html.Hidden("sortInfo", Model.SortInfo)

            <div class="form-inline">

                <div class="form-group">
                    <label>Size:</label>
                    <br />
                    @Html.TextBox("SearchString")
                </div>&nbsp;&nbsp;&nbsp;

                <div class="form-group">
                    <label>Standard:</label>
                    <br />
                    @Html.DropDownList("standardId", Model.Standards as SelectList, htmlAttributes: new { @class = "form-control" })
                </div>&nbsp;&nbsp;&nbsp;

                <div class="form-group">
                    <label>Material:</label>
                    <br />
                    @Html.DropDownList("materialId", Model.Materials as SelectList, htmlAttributes: new { @class = "form-control" })
                </div>&nbsp;&nbsp;&nbsp;

                <div class="form-group">
                    <label>Manufacturer:</label>
                    <br />
                    @Html.DropDownList("manufacturerId", Model.Manufacturers as SelectList, htmlAttributes: new { @class = "form-control" })
                </div>&nbsp;&nbsp;&nbsp;

                <div class="form-group">
                    <label></label>
                    <br />
                    <input type="submit" class="btn btn-success" value="Filter" />
                </div>

            </div>
        }
    </p>
    }
    <p style="color:blue; font-size:x-small;">
        * click on column title to sort the data
    </p>

    <table class="table table-bordered table-condensed table-hover table-striped">
        <tr class="success">
            <th>
                <a href="#" data-sortfield="Size" class="header">
                    @Html.DisplayNameFor(model => model.Pipes.FirstOrDefault().Size)
                </a>
            </th>
            <th>
                <a href="#" data-sortfield="Standard" class="header">
                    @Html.DisplayNameFor(model => model.Pipes.FirstOrDefault().Standard.Title)
                </a>
            </th>
            <th>
                <a href="#" data-sortfield="Material" class="header">
                    @Html.DisplayNameFor(model => model.Pipes.FirstOrDefault().Material.Name)
                </a>
            </th>
            <th>
                <a href="#" data-sortfield="Manufacturer" class="header">
                    @Html.DisplayNameFor(model => model.Pipes.FirstOrDefault().Manufacturer.Name)
                </a>
            </th>
            <th>
                <a href="#" data-sortfield="ReleaseDate" class="header">
                    @Html.DisplayNameFor(model => model.Pipes.FirstOrDefault().ReleaseDate)
                </a>
            </th>
            <th>
                <a href="#" data-sortfield="Price" class="header">
                    @Html.DisplayNameFor(model => model.Pipes.FirstOrDefault().Price)
                </a>
            </th>
            <th>
                <a href="#" data-sortfield="InStock" class="header">
                    @Html.DisplayNameFor(model => model.Pipes.FirstOrDefault().InStock)
                </a>
            </th>
            <th>
                BUY
            </th>
            <th>
                Arrange
            </th>
        </tr>

        @foreach (var item in Model.Pipes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Standard.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Material.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manufacturer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InStock)
                </td>
                <td>
                    <img alt="Cover" src="@item.ImageUrl" width="30" height="30" />
                </td>
                <td class="text-center">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </table>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script>

        $(document).ready(function () {
            $(".header").click(function (evt) {

                var sortfield = $(evt.target).data("sortfield");
                $("#sortInfo").val(sortfield);
                $("form").submit();

            });
        });

    </script>